body {
    font-family: 'Fira Sans', sans-serif;
}

.header__title {
    background-color: yellow;
    text-align: left;
    padding: 10px 20px 20px;
    user-select: none;
}

.first__block {
    user-select: none;
}

.first__block, .second__block, .third__block, .fourth__block, .bonus_block {
    background-color: rgba(211, 211, 211, 0.30);
    padding: 10px 10px;
    border: 5px solid white;
}

.second__block:hover {
    background-color: aqua;
    cursor: pointer;
}

.third__block:hover {
    background-color: aqua;
    cursor: pointer;
}

.fourth__block:hover {
    background-color: aqua;
    cursor: pointer;
}

.bonus_block:hover {
    background-color:magenta;
    cursor: pointer;
}

h2 {
    padding: 10px 15px;
    user-select: none;
}

.block__p {
    font-size: 22px;
    padding: 0;
}

p {
    padding: 10px 15px;
    font-size: 21px;
}

.back {
    width: 130px;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color:yellow;
    padding: 10px 15px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.back:hover {
    background-color: aqua;
    color: black;
    cursor: pointer;
}
